@charset "utf-8";
/* CSS Document */



/*背景半透明 样式CSS*/

.rcb-zt1 { width:100%; float:left; padding:0px 0px 0px 0px;  border-left:#a4a4a4 0px dotted; margin-left:1%;}
.rcb-zt2 { width:100%; float:left; padding:0px 0px 0px 0px;  border-left:#a4a4a4 0px dotted; margin-left:1%;}
.rcb-zt3 { width:100%; float:left; padding:0px 0px 0px 0px;  border-left:#a4a4a4 0px dotted; margin-left:1%;}

.rcb-dh { width:100%; margin:0px auto 0px; height:45px; border-bottom:#CCC 1px solid; padding:5px 5px 5px 5px;}
.rcb-dh-left { width:32px; float:left; height:45px; }
.rcb-dh-right { width:80%; float:left; height:45px; margin-left:5px; line-height:32px; letter-spacing:2px;}


.x-rcb-dh { width:100%; margin-bottom:6px; height:30px; border-bottom:#848484 1px dotted; padding:5px 5px 10px 5px;}
.x-rcb-dh-left { width:16px; float:left; height:16px; }
.x-rcb-dh-right { width:80%; float:left; height:16px; margin-left:5px; line-height:16px; letter-spacing:2px; font-size:13px; color:#0668b6;}


.rcb-nr { width:100%; height:40px; padding:0px; font-size:12px; color:#999; line-height:22px;}

.scbj { width:50%; margin:50px auto; border:#CCC 1px solid; padding:50px;}

.scbj-zt { width:100%; height:17px; background:#d7eaf1; padding:7px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; font-size:14px; letter-spacing:2px; position:relative; line-height:17px;}

.scbj-zt-right { width:8px; height:7px; line-height:18px; padding:5px; position:absolute; right:0px; top:0px; top:7px;}

